:host {
  display: block;
}

.layout-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.column-content {
  order: 1;
  flex: 1 0;
  min-width: 0;
  padding: 2.25rem;
}
